<div class="container">
    <h1>ルームページ</h1>
    <div class="row">
    <div class="col-sm-12">
    <div class="mb-5" style="padding: 0.5em 1em; margin: 2em 0; color: #5989cf; background: #18F172; border-bottom: solid 6px #18C672; border-radius: 9px;">
        <br>
        <div class="d-flex justify-content-around">
            <div class="border border-5 border-dark">タイトル:<%= @book.name %></div>
            <div class="border border-5 border-dark">投稿者のID:<%= @book.customer_id %></div>
        </div>
        <br>
        <div>
            <%= link_to public_customer_path(@book.customer) do %>
                <%= image_tag @book.customer.get_profile_image, size:'100x100' %>
            <% end %>
        </div>
        <br>
        <h3 style="color: #33ABD9;">ルーム説明</h2>
        <div class="col-sm-11 border border-5 border-primary rounded mx-auto">
            <h4><%= safe_join(@book.introduce.split("\n"),tag(:br)) %></h4>
        </div>
        <% if !admin_signed_in? %>
            <div class=<%= "favorite-" + @book.id.to_s %> >
                <%= render 'public/favorites/btn', book: @book %>
            </div>
        <% end %>
        <div class="book-comments-counter">
            <%= render "public/book_comments/counter", book: @book %>
        </div>
        <div class="view-count">閲覧数: <%= @book.view_counts.count %></div>
        <% if !current_page?(public_book_path(@book.id)) %>
            <%= link_to "ルーム詳細ページ", public_book_path(@book.id), method: :get, class:'btn btn-success' %>
        <% end %>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6">
        <% if @book.customer == current_customer %>
            <%= form_with model: @book, method: :delete, url: public_book_path(@book) do %>
                <br>
                <%= text_field_tag :key, @word, placeholder: '削除パスワード(1~100の文字か数字)', class:'w-50' %><br>
                <br>
                <%= submit_tag 'ルームを削除する', data: {confirm: "本当に削除しますか？"}, class:'btn btn-danger' %>
                <%= link_to 'ルームを編集する', edit_public_book_path(@book), class: "btn btn-primary edit_public_book_#{@book.id}" %>
            <% end %>
        <% end %>
        <% if admin_signed_in? %>
         <%= link_to '管理者用ルーム削除', public_book_path(@book), data: {confirm: "本当に削除しますか？"}, class:'btn btn-danger', method: :delete %>
        <% end %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="book-comments-index">
                <%= render 'public/book_comments/index', book: @book %>
            </div>
            <% if !admin_signed_in? && @customer.name != "guestuser" %>
                <%= render 'public/book_comments/form', book: @book, book_comment: @book_comment %>
            <% elsif !admin_signed_in? && @customer.name == "guestuser" %>
                <h3 class="text-warning">ゲストユーザーなのでコメント機能は使用できません。ログインしてください。</h3>
            <% end %>
        </div>
    </div>
</div>
