<table>
    <tbody>
        <% book.book_comments.each do |book_comment| %>
        <tr>
            <td>
                <%= link_to public_customer_path(book_comment.customer) do %>
                    <%= image_tag book_comment.customer.get_profile_image, size: "100x100" %><br>
                    <%= book_comment.customer.name %>
                <% end %>
            </td>
            <td><%= safe_join(book_comment.comment.split("\n"),tag(:br)) %></td>
            <td>
                <% if book_comment.customer == current_customer %>
                    <%= link_to "削除する", public_book_book_comment_path(book, book_comment), remote: true, method: :delete, class:'btn btn-danger pull-light', data: {confirm: "本当に削除しますか？" } %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
