<%= form_with model: group, local: true, url: public_group_path, method: :patch do |f| %>
    <div class="form-group">
        <%= f.label :グループ名 %>
        <%= f.text_field :name, class: 'form-control', placeholder: '1~100文字で入力してください' %>
    </div>

    <div class="form-group">
        <%= f.label :紹介文 %>
        <%= f.text_area :introduction, class: 'form-control' , placeholder: '1~10000文字で入力してください'%>
    </div>

    <div class="form-group">
        <%= f.label :グループ画像 %>
        <%= f.file_field :image, class: "form-control-file", accept: 'image/*' %>
    </div>

  <% if !admin_signed_in? %>
    <div class="form-group">
        <%= f.submit 'グループ編集', class: 'btn btn-info' %>
    </div>
  <% end %>
<% end %>