<div class="container">
    <h3>ユーザー情報</h3>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <p>ユーザーアイコン</p><%= image_tag @customer.get_profile_image, size: '300x300' %>
            <p>ユーザーID: <%= @customer.id %></p>
            <p>名前:　<%= @customer.name %></p>
            <p>フォロー数:　<%= link_to @customer.followings.count, public_customer_followings_path(@customer) %></p>
            <p>フォロワー数:　<%= link_to @customer.followers.count, public_customer_followers_path(@customer) %></p>
        </div>
    </div>
    <h4>自己紹介</h4>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <p><%= @customer.introduce %></p>
            <% unless admin_signed_in? %>
                <% if current_customer.name != "guestuser" && @customer == current_customer %>
                    <%= link_to '編集する', edit_public_customer_path(current_customer), method: :get, class:'btn btn-success' %>
                <% end %>
                <% unless @customer == current_customer || current_customer.name == "guestuser" %>
                    <% if @customer.released? %>
                      <%= link_to 'ブロックする', public_customer_nonrelease_path(@customer), method: :patch, class:'btn btn-danger' %>
                    <% else %>
                      <%= link_to 'ブロック解除', public_customer_release_path(@customer), method: :patch, class:'btn btn-success' %>
                    <% end %>
                <% end %>
                <% if current_customer != @customer && current_customer.following?(@customer) && @customer.following?(current_customer) %>
                    <%= link_to 'チャットを始める', public_chat_path(@customer.id), class:'btn btn-info ml-3' %>
                <% else %>
                    <h3 class="text-primary">相互フォローするとチャットが行えます</h3>
                <% end %>
            <% else %>
             <%= link_to "強制的に退会させる", public_customer_withdrawal_path(@customer), method: :patch, data: { confirm: "本当に退会させますか？" }, class:'btn btn-danger' %>
            <% end %>
        </div>
    </div>
    <%= link_to "ブックマーク一覧", likes_public_customer_path(@customer), method: :get, class:'btn btn-success mt-3' %>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <br>
            <h1>ルーム一覧</h1>
            <%= render 'public/books/index', books: @book %>
　　　　</div>
    </div>
    <% if admin_signed_in? %>
        <div class="row">
            <div class="col-sm-12 mx-auto">
                <%= render 'daily_posts_form', customer: @customer %>
                <%= render 'book_totalling', book: @book %>
            </div>
        </div>
    <% end %>
</div>
