<div class="row">
    <div class="col-sm-12">
        <% books.each do |book| %>
            <% if !admin_signed_in? %>
              <% if book.customer.released? || current_customer.nonreleased? || current_customer.name == "guestuser" %>
                <div class="mb-5" style="padding: 0.5em 1em; margin: 2em 0; color: #5989cf; background: #18F172; border-bottom: solid 6px #18C672; border-radius: 9px;">
                <br>
                <div class="d-flex justify-content-around">
                    <div class="border border-5 border-dark">タイトル:<%= book.name %></div>
                    <div class="border border-5 border-dark">投稿者のID:<%= book.customer_id %></div>
                    <div class="border border-5 border-dark">
                        <% book.tags.each { |tag| %><li style="list-style: none;">タグ:<%= link_to tag.name, public_search_path(content: tag.name, model: "book_tag", method: "perfect") %></li><% } %>
                    </div>
                </div>
                <br>
                <div>
                    <%= link_to public_customer_path(book.customer) do %>
                        <%= image_tag book.customer.get_profile_image, size:'100x100' %>
                    <% end %>
                </div>
                <br>
                <h3 style="color: #33ABD9;">ルーム説明</h2>
                <div class="col-sm-12 border border-5 border-primary rounded mx-left">
                    <h4><%= safe_join(book.introduce.split("\n"),tag(:br)) %></h4>
                </div>
                    <div class=<%= "favorite-" + book.id.to_s %> >
                        <%= render 'public/favorites/btn', book: book %>
                    </div>
                <% if !current_page?(public_book_path(book.id)) %>
                    <div class="text-center"><%= link_to "入室する", public_book_path(book.id), method: :get, class:'btn btn-success' %></div>
                <% end %>
                </div>
              <% end %>

            <% else %>

                <div class="mb-5" style="padding: 0.5em 1em; margin: 2em 0; color: #5989cf; background: #18F172; border-bottom: solid 6px #18C672; border-radius: 9px;">
                <br>
                <div class="d-flex justify-content-around">
                    <div class="border border-5 border-dark">タイトル:<%= book.name %></div>
                    <div class="border border-5 border-dark">投稿者のID:<%= book.customer_id %></div>
                    <div class="border border-5 border-dark">
                        <% book.tags.each { |tag| %><li style="list-style: none;">タグ:<%= link_to tag.name, public_search_path(content: tag.name, model: "book_tag", method: "perfect") %></li><% } %>
                    </div>
                </div>
                <br>
                <div>
                    <%= link_to public_customer_path(book.customer) do %>
                        <%= image_tag book.customer.get_profile_image, size:'100x100' %>
                    <% end %>
                </div>
                <br>
                <h3 style="color: #33ABD9;">ルーム説明</h2>
                <div class="col-sm-12 border border-5 border-primary rounded mx-left">
                    <h4><%= safe_join(book.introduce.split("\n"),tag(:br)) %></h4>
                </div>
                <%= link_to '管理者用ルーム削除', public_book_path(book), data: {confirm: "本当に削除しますか？"}, class:'btn btn-danger', method: :delete %>
                <% if !current_page?(public_book_path(book.id)) %>
                    <div class="text-center"><%= link_to "入室する", public_book_path(book.id), method: :get, class:'btn btn-success' %></div>
                <% end %>
                </div>
            <% end %>
        <% end %>
        <%= paginate books %>
    </div>
</div>
