<div id="rate_<%= rating.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= rating.id %> = document.querySelector('#rate_<%= rating.id %>');
    rate_<%= rating.id %>.innerHTML = ""
    let option_<%= rating.id %> = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= rating.rate %>",
        readOnly: true,
      };
    raty(raty_<%= rating.id %> ,option_<%= rating.id %>);
});
</script>
